@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@200&family=Shantell+Sans:ital,wght@1,300&display=swap');

*,
html {
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
    margin: 0;
    padding: 0;
    font-family: 'Labrada', serif;
    font-family: 'Shantell Sans', cursive;
    box-sizing: border-box;
    scroll-behavior: smooth;

}


body {
    color: white;
    overflow-x: hidden;
    background: white;
    background-blend-mode: normal, color-burn;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


nav {
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    padding: 10px;
    background: white;
    position: fixed;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.nav-container-logo {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-container-logo h1 {
    font-family: 'Rocher';
    position: relative;
    left: 20px;
}

.nav-container-left {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container-right {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-container-right ul li {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 0.5;
    display: flex;
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}


nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    transition: 0.5s;
    text-transform: uppercase;
}


nav ul li a:hover {
    color: gold;
    letter-spacing: 1px;
}


.nav-container-left ul li {
    display: flex;
    display: inline-block;
    list-style: none;
    margin: 10px 18px;
}


.nav-container-right ul li:hover {
    color: gold;
    letter-spacing: 1px;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 700px;
    min-height: 100vh;
    padding: 20px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    z-index: 2;
    color: black;
    transition: .5s;

}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.cart-box {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: black;
    width: 300px;
    height: 200px;


}

.cart-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}

.cart-price {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid black;
    outline-color: #ea1646;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}

.cart-img {
    width: 150px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 10px;
    margin-left: 10px;
}



.cart-remove {
    font-size: 25px;
    color: black;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s;
}

.cart-remove:hover {
    transform: rotate(-20deg);
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}


.cart a {
    text-decoration: none;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    background: black;
    color: white;
}

.btn-buy:hover {
    background: white;
    border: 1px solid black;
    color: black;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.space {
    display: flex;
    width: 100%;
}

.space div {
    margin-top: 70px;
}

.ripped-effect {
    position: relative;
    width: 100%;
    height: 650px;
}

.ripped-effect-alt {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 650px;
}

.normal-img {
    width: 100%;
    height: 650px;
    position: absolute;
}

.normal-img img {
    width: 100%;
    height: 650px;
}

.desc-img {
    color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    flex-direction: column;
    
}


.desc-img h1 {
    font-size: 100px;
    background: rgba( 255, 215, 0, 0.95 );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.desc-img p {
    font-size: 25px;
    background: rgba( 255, 215, 0, 0.95 );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ripped-img {
    position: absolute;
    height: 650px;
    width: 100%;
}

.ripped-img img {
    height: 650px;
    width: 100%;
}
.cardInfoHolder { 
    color: black;
    display: flex;
    width: 100%;
    height: 690px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.infoUp-alt {
    margin-top: 40px;
    width: 90%;
    height: 100%;
    flex-basis: 65%;
    display: flex;
}

.infoUpleft {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.partOne {
    flex-basis: 25%;
    justify-self: first baseline;
}

.partTwo {
    flex-basis: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.partTwo div {
    width: 400px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.partTwo button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: black;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    transition: 1s;
    border: none;
    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.partTwo button:hover {
    transform: translateX(25px);
}

.partTwo button a {
    text-decoration: none;
    color: white;
}

.partTwo h2 {
    font-size: 40px;
}
.infoUpright {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoUpright img {
    width: 500px;
    height: 340px;
}

.infoDown {
    flex-basis: 35%;
    width: 90%;
    height: 100%;
    display: flex;
}

.infoDownleft {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.infoCard {
    color: black;
    width: 225px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardText {
    width: 200px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transform: translateY(30px);
}

.infoCardimg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transform: translateY(-90px);
}

.infoCardimg img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.5s ease-in-out;
}

.infoCardimg img:hover {
    transform: scale(1.3);
}

.infoDownright {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoDownright div {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.infoDownright div h2 {
    font-size: 28px;
}

.poster-1 img {

    width: 100%;
    height: 400px;
    margin-top: 70px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 375px;
    color: black;
    background: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s;
}

.card:hover {
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
}

.card:hover .image-card::before {
    opacity: 1;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;

}

.cartBtn {

    border: 1px solid white;
    background: transparent;
}


.card .detail-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detail-card h2 {
    color: white;
    transition: 0.5s;
    font-size: 25px;
    transform: translateY(250px);

}

.card:hover .detail-card h2 {
    transition-delay: 0.5s;
    transform: translateY(0);
}

.detail-card p {
    color: white;
    transition: 0.5s;
    font-size: 25px;
    transform: translateY(250px);
}

.card:hover .detail-card p {
    transition-delay: 0.5s;
    transform: translateY(0);
}

.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: black;
    margin-left: 95px;
    transition: 1s;
    cursor: pointer;


}

.add-cart:hover {
    color: black;
    background: white;
    border: 1px solid black;
}

.btn {
    background-color: white;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    border: none;
    transform: translateY(300px);
    transition: 0.5s;
    width: 70px;
    height: 45px;
    cursor: pointer;
}

.btn-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.btn-flex:hover {
    transform: scale(1.08);
}

.card:hover .detail-card .btn {
    transition-delay: 0.9s;
    transform: translateY(0);
}


.slide-in {
    transform: translateY(50px);
    transition: opacity 500ms ease-in, transform 650ms ease-in;
    opacity: 0;
    
}

.slide-in.show {
    transform: translateY(0px);
    opacity: 1;
}


.catbtn {
    background: transparent;
    font-size: 18px;
    width: 60px;
    height: 40px;
    color: black;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.end {
    margin-top: 30px;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.end i {
    color: red;
}