<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Mart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/offers.css') }}">
    <script src="https://kit.fontawesome.com/0cdc049c53.js" crossorigin="anonymous"></script>

</head>

<body>

    <div id="header">
        <nav>

            <div class="nav-container-logo">
                <ul>
                    <li><a href="">
                            <h1>APPLE MART</h1>
                        </a></li>
                </ul>
            </div>
            <div class="nav-container-left">
                <ul>
                    <li><a href="/home">
                            <p>Home</p>
                        </a></li>
                    <li><a href="#deals">
                            <p>Deals</p>
                        </a></li>
                    <li><a href="#categories">
                            <p>Categories</p>
                        </a></li>
                    <li><a href="/store">
                            <p>Store</p>
                        </a></li>
                    <li><a href="#contact">
                            <p>Contact</p>
                        </a></li>
                </ul>
            </div>
            <div class="nav-container-right">
                <ul>
                    <li class="cartcart">
                        <p id="cart-icon">Cart</p>
                    </li>
                    <div class="cart">

                        <h2 class="cart-title">CART</h2>
                        <div class="cart-content">
                            
                        </div>
                        <div class="total">
                            <div class="total-title">TOTAL</div>
                            <div class="total-price">₹0</div>
                        </div>
                        <a href="/info"><button type="button" class="btn-buy">ORDER</button></a>
                        <i class="fa-regular fa-circle-xmark" id="close-cart"></i>
                    </div>
                    <li class="loginBtn"><a href="/" class="login">
                            <p>Login</p>
                        </a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="poster-clip">
        <div class="top-poster">
            <h1>SUPER SALE IS LIVE</h1>
            <p>GET NEW DEALS ON PRODUCTS EVERYDAY</p>
            <p>UPTO 70% OFF ON SELECTED PRODUCTS</p>
        </div>
    </div>
    <h1 class="head">SALE</h1>
    <p class="tail">The Once In a Lifetime Sale</p>
    <div class="offer-poster">
        <div class="imgdiv slide-in">
            <img src="static/image/explore-tshirt-poster.jpg">
        </div>
        <div class="txtdiv slide-in">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore aut commodi rem exercitationem delectus dicta quia officiis provident ea. Excepturi vero ad accusamus placeat totam magni blanditiis repudiandae, distinctio quasi veniam in! Mollitia provident molestias a rem nihil neque. Vero nobis error ad maxime temporibus sit, tempore perspiciatis odio ea!</p>
        </div>
    </div>
    <div class="flex">
        {% for tshirt in tshirts %}
        <div class="tshirt-holder">
            <div class="tshirt card">
                <form method="post">
                    <input type="hidden" name="path" value="{{ tshirt.path }}">
                    <div>
                        <div class="image-card">
                            <img src="{{ tshirt.path }}" class="product-img">
                        </div>
                    </div>
                    <div class="detail-card">
                        <div class="button-holder">
                            <div class="text-flex">
                                <h2 class="product-title">Name</h2>
                                <p>Price</p>
                                <p class="price">Offer Price</p>
                            </div>
                            <div class="btn-flex">
                                <input type="submit" value="View" class="btn">
                            </div>
                        </div>
                    </div>
                </form>      
            </div>
            <div class="add-cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="offer-poster">
        <div class="imgdiv slide-in">
            <img src="static/image/explore-jeans-poster.jpg">
        </div>
        <div class="txtdiv slide-in">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit consequuntur debitis voluptas nemo pariatur et explicabo eum distinctio, nisi, est architecto? Saepe esse quibusdam harum consequatur perspiciatis magni molestias temporibus voluptatum, voluptates, autem impedit voluptatibus repellat vel sint ex? Error ut adipisci exercitationem accusantium quae doloribus libero quibusdam debitis eaque?</p>
        </div>
    </div>
    <div class="flex">
        {% for jean in jeans %}
        <div class="jean-holder">
            <div class="jean card">
                <form method="post">
                    <input type="hidden" name="path" value="{{ jean.path }}">
                    <div>
                        <div class="image-card">
                            <img src="{{ jean.path }}" class="product-img">
                        </div>
                    </div>
                    <div class="detail-card">
                        <div class="button-holder">
                            <div class="text-flex">
                                <h2 class="product-title">Name</h2>
                                <p>Price</p>
                                <p class="price">Offer Price</p>
                            </div>
                            <div class="btn-flex">
                                <input type="submit" value="View" class="btn">
                            </div>
                        </div>
                    </div>
                </form>             
            </div>
            <div class="add-cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="offer-poster">
        <div class="imgdiv slide-in">
            <img src="static/image/explore-shoe-poster.jpg">
        </div>
        <div class="txtdiv slide-in">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis at provident magnam incidunt excepturi natus tenetur illum nesciunt quis, architecto, fugiat alias dolorum aliquid. Dolore eos iusto dolor porro at quo eveniet rem, tenetur sequi odio! Earum autem nostrum quia qui deserunt sit quam quidem sequi molestias libero, et quasi!.</p>
        </div>
    </div>
    <div class="flex">
        {% for shoe in shoes %}
        <div class="shoe-holder">
            <div class="shoe card">
                <form method="post">
                    <input type="hidden" name="path" value="{{ shoe.path }}">
                    <div>
                        <div class="image-card">
                            <img src="{{ shoe.path }}" class="product-img">
                        </div>
                    </div>
                    <div class="detail-card">
                        <div class="button-holder">
                            <div class="text-flex">
                                <h2 class="product-title">Name</h2>
                                <p>Price</p>
                                <p class="price">Offer Price</p>
                            </div>
                            <div class="btn-flex">
                                <input type="submit" value="View" class="btn">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="add-cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="offer-poster">
        <div class="imgdiv slide-in">
            <img src="static/image/explore-watch-poster.jpg">
        </div>
        <div class="txtdiv slide-in">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta alias, eum illum eaque dolores sit, aperiam natus impedit porro adipisci aspernatur delectus cumque harum molestias exercitationem ullam architecto, animi quidem! Vitae provident, aliquam alias odit ab molestiae nesciunt, quasi asperiores mollitia blanditiis at qui recusandae magni, necessitatibus molestias maiores enim?</p>
        </div>
    </div>
    <div class="flex">
        {% for watch in watches %}
        <div class="shoe-holder">
            <div class="shoe card">
                <form method="post">
                    <input type="hidden" name="path" value="{{ watch.path }}">
                    <div>
                        <div class="image-card">
                            <img src="{{ watch.path }}" class="product-img">
                        </div>
                    </div>
                    <div class="detail-card">
                        <div class="button-holder">
                            <div class="text-flex">
                                <h2 class="product-title">Name</h2>
                                <p>Price</p>
                                <p class="price">Offer Price</p>
                            </div>
                            <div class="btn-flex">
                                <input type="submit" value="View" class="btn">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="add-cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
        {% endfor %}
    </div>
    <footer>
        <div class="end">
            <p>Made With <i class="fa-solid fa-heart"></i></p>
        </div>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>